@import url("reset.css");
@import url("header.css");
@import url("banner.css");
@import url("carrossel.css");
:root{
    --cor-fundo: #EBECEE;
    --branco:#ffffff;
}
body{
    background-color: var(--cor-fundo);
}